.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
}

.cadastro-form {
    width: 35%;
    max-width:400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px 20px;
}

.form-titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.input-cadastro {
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 6px;
    width: 60%;
}

.form-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.form-button {
    margin-left: 15px;
    margin-right: 15px;
}

#tabela-profissionais {
    border: 2px solid black;
    border-spacing: 0;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
}

.tabela-cabecalho {
    width: 18%;
}

.botao-linha {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simbolo-botao-linha {
    font-size: 20px;
}

.tabela-editar {
    width: 5%;
}

.botao-editar:hover, .botao-confirmar-edicao:hover {
    background-color: rgb(191, 233, 93);
}

.tabela-excluir {
    width: 5%;
}

.botao-excluir:hover, .botao-cancelar-edicao:hover {
    background-color: rgb(247, 127, 127);
}

#tabela-profissionais td {
    padding: 5px 0px;
    text-align: center;
}

.linha-profissional-par {
    background-color: rgb(231, 229, 229);
}

.linha-profissional-impar {
    background-color: rgb(202, 222, 248);
}

.linha-profissional:hover {
    background-color: rgb(189, 188, 188);
}

.input-atualizar {
    border-radius: 10px;
    border: 0;
    padding-left: 6px;
    width: 80%;
}